.About-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200vh;
    max-width: 100%;
}

.About-section img {
    max-width: 50vw;
}

.About-section .flex {
    flex-direction: row-reverse;
    gap: 70px;
}

.About-section .desc {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    max-width: 30vw;
}

.about__blue__circle {
    background-color: #00F0FF;
    -webkit-filter: blur(117px);
    filter: blur(117px);
    position: absolute;
    z-index: -1;
}

.about__blue__circle-1 {
    bottom: -17.4375rem;
    height: 20rem;
    background: #00fbff;
    opacity: 1;
    right: 7rem;
    width: 100rem;
    z-index: 111;
}


.about__blue__circle-2 {
    bottom: -97.25rem;
    height: 20rem;
    left: 3.75rem;
    background: #00ff93;
    opacity: .7;
    width: 30rem;
}

.about__blue__circle-3 {
    bottom: -134.4375rem;
    height: 30rem;
    opacity: .6;
    right: 0;
    width: 30rem;
}

.desc h2 {
    font-size: 32px;
    color: var(--primary-color);
    font-weight: 500;
}

.desc p {
    font-size: 20px;
    text-align: left;
    margin-right: 30px;
    font-weight: 300;
}


@media screen and (max-width:1250px) {

    .About-section img {
        max-width: 100%;
    }

    .About-section .desc {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }


    .About-section h2 {
        font-size: 24px;
    }

    .About-section p {
        font-size: 16px;
        text-align: center;
        font-weight: 300;
    }
}

@media screen and (max-width:850px) {


    .About-section .about-flex {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .About-section img {
        max-width: 100%;
    }

    .About-section .desc {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }


    .About-section h2 {
        font-size: 24px;
    }


    .About-section p {
        font-size: 20px;
        text-align: center;
        font-weight: 300;
    }

    .container.flex.about-flex.middle-section {
        flex-direction: column;
    }


}

@media screen and (max-width:700px) {
    .About-section .about-flex {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .About-section img {
        max-width: 100%;
    }

    .About-section .desc {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }


    .About-section h2 {
        font-size: 24px;
    }

    .About-section p {
        font-size: 20px;
        text-align: center;
        font-weight: 300;
    }


}

@media screen and (max-width:580px) {
    .About-section .about-flex {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .About-section img {
        max-width: 100%;
    }

    .About-section .desc {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }


    .About-section h2 {
        font-size: 24px;
    }

    .About-section p {
        font-size: 16px;
        text-align: center;
        font-weight: 300;
    }

    .about__blue__circle-1 {
        opacity: .3;
    }

    .about__blue__circle-2 {
        opacity: 0;
    }

    .about__blue__circle-3 {
        bottom: -154.4375rem;
        opacity: .3;
    }

}
