.hero-section {
    padding-top: 8rem;
    z-index: -1;
}

.hero-section .flex {
    flex-direction: column;
    gap: 30px;
}

.hero-section h1 {
    color: var(--dark-color);
    font-size: 48px;
    font-weight: 900;
}

.blue__circle {
    background-color: #00F0FF;
    -webkit-filter: blur(117px);
    filter: blur(117px);
    position: absolute;
    z-index: -1;
}

.blue__circle-1 {
    bottom: 11.5625rem;
    height: 30rem;
    opacity: .6;
    right: 0;
    width: 30rem;
}


.blue__circle-2 {
    bottom: 17.75rem;
    height: 20rem;
    left: 8.75rem;
    opacity: .7;
    width: 30rem;
}

.hero-section h4 {
    color: var(--dark-color);
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    padding: 0px 14rem;
}

.hero-section button {
    padding: 0.7rem 2rem;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 1px solid transparent;
}

.hero-section div:nth-child(2) {
    margin-top: 4rem;
}

.hero-section .image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

@media screen and (max-width: 1200px) {
    .blue__circle-1 {
        bottom: 23.6875rem;
        height: 20rem;
        left: 17%;
        width: 20rem;
    }

    .blue__circle-2 {
        bottom: 18.6875rem;
        height: 20rem;
        opacity: .6;
        right: 0;
        width: 20rem;
    }
}



@media screen and (max-width:980px) {
    .hero-section h1 {
        font-size: 24px;
    }

    .hero-section h4 {
        font-size: 16px;
        padding: 0px 4rem;
    }
}

@media screen and (max-width:400px) {
    .hero-section h1 {
        font-size: 20px;
    }

    .blue__circle-1 {
        bottom: 3.75rem;
        height: 20rem;
        left: -6.25rem;
        opacity: .7;
        width: 20rem;
    }

    .blue__circle-2 {
        bottom: 0.5625rem;
        height: 20rem;
        opacity: .6;
        right: 0;
        width: 20rem;
    }

    .hero-section h4 {
        font-size: 16px;
        padding: 0px 2rem;
    }
}
