.bottom-section {
    margin-top: 4rem;
}

/* .bottom-image {
    margin-bottom: 0px;
} */

.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 40px;

}


.footer .flex {
    padding: 40px;
    justify-content: space-between;
}

.footer ul {
    gap: 40px;
}


.links .flex {
    justify-content: flex-start;
    gap: 10px;
    padding: 0px;
}

.links ul i {
    color: white;
}

@media screen and (max-width: 980px) {
    .footer {
        padding: 5px 0px;
    }

    .footer .flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer ul {
        gap: 10px;
        padding: 0px;
        list-style-type: disc;
    }

    .links ul {
        list-style: none;
    }

    .links .flex {
        flex-direction: row;
    }


    .footer {
        margin-top: 0px;
    }

}