footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}

footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
  padding: 100px;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 30px;
  white-space: nowrap;
}
.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.ul li:not(:first-child) {
  margin-top: 0.8em;
}
.ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
.ul li a:hover {
  color: #2a8ded;
}
.about {
    padding-left: 0;
}
.about p {
  text-align: justify;
  line-height: 1.6;
  margin: 0;
  width: 70%;
}
input,
button {
  font-size: 1em;
  padding: 1em;

  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

input{
    border: #121315 1px solid;
}
button {
  background-color: #2a8ded;
  color: #ffffff;
}
div.social {
  display: flex;
  justify-content: space-between;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.8em;
  width: 25rem;
}
.social i {
  color: #2a8ded;
  cursor: pointer;
}

.copyright {
  background-color: #25262e;
  padding: 0.3em 100px;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding-right: 10px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 1em;
  text-align: right;
}
.subscribe {
    padding-right: 0;
}

@media screen and (max-width: 1200px) {
    .row.primary {
        padding: 55px;
        grid-template-columns: repeat(2, 1fr);
    }

    .subscribe {
        padding: 0;
    }

    .about p {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

  .row.primary {
    padding: 35px;
    padding-bottom: 50px;
  }

  .about p {
    width: 100%;
  }

  .column {
    padding: 0;
  }

  .column:not(:last-child) {
    margin-bottom: 2px;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 480px) {
    input,button {
        width: auto;
    }

    input {
        margin-right: .5em;
    }

    div.social {
        width: 15rem;
    }

    .copyright {
        padding: .3em 0;
    }
}
@media screen and (max-width: 380px) {
  input,button {
    width: auto;
  }

  input {
      margin-right: .15em;
  }

  div.social {
      width: 16rem;
  }

  .copyright {
    font-size: 14px;
    padding: .3em 0;
  }
  .footer-menu a {
    font-size: 13px;
    padding:5px;
  }
}