.navbar {
    margin-top: 24px;
}

.navbar .flex {
    max-width: 100%;
    justify-content: space-between;
}


.navbar h3 {
    color: var(--primary-color);
}

.navbar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar nav ul li {
    padding: 0 24px;
}

.navbar button {
    padding: 0.7rem 2rem;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 1px solid transparent;
    cursor: pointer;
}

.hidden {
    display: none;
}

.hide {
    display: none;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navbar .change {
    opacity: 100;
    top: 80px;
}

.navbar span {
    font-size: 24px;
}


@media screen and (max-width:500px) {
    .navbar .flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .navbar nav {
        position: absolute;
        backdrop-filter: blur(50px);
        padding: 2rem;
        text-align: center;
        width: 100%;
        min-height: 55%;
        left: 0;
        opacity: 0;
        z-index: 1;
        top: -400px;
        transition: all 0.5s ease-in;
        color: black;
        font-size: 18px;
    }

    .navbar button {
        position: absolute;
        background-color: transparent;
        border-color: var(--primary-color);
        color: var(--primary-color);
        left: 35%;
        bottom: 20px;
    }

    .navbar button:hover {
        background-color: var(--primary-color);
        color: var(--light-color);
    }


    .hidden {
        display: block;
    }

    .mobile-nav {
        width: 100%;
    }
}